body {
  background-color: black;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 1rem;
  color: white;
}

.picard {
  border: 2px solid white;
  width: 100%;
}

h1 {
  text-transform: uppercase;
  margin: 0px;
  margin-top: 10px;
  font-size: 2rem;
  color: white;
}

p {
  color: white;
  margin: 0px;
  margin-top: 10px;
}
